#canvas
{
    border-style: solid;
    border-color: black;
    align-content: center;
}
#ache1
{
    color: blue;
    font-size: 50px;
    font-family:cursive;
    text-align: center;
    
}